Source: axel_utility_token
Section: utils
Priority: optional
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libboost-system-dev (>> 1.35) | libboost-system1.35-dev,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libminiupnpc8-dev,
 libboost-filesystem-dev (>> 1.35) | libboost-filesystem1.35-dev,
 libboost-program-options-dev (>> 1.35) | libboost-program-options1.35-dev,
 libboost-thread-dev (>> 1.35) | libboost-thread1.35-dev,
 libboost-test-dev (>> 1.35) | libboost-test1.35-dev,
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler
Standards-Version: 1.0
Homepage: http://www.axel_utility_token.net
Vcs-Git: git://github.com/AXEL_Utility_Token-Core/AXEL_Utility_Token.git
Vcs-Browser: http://github.com/AXEL_Utility_Token-Core/AXEL_Utility_Token

Package: axel_utility_tokend
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 AXEL_Utility_Token is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 This package provides the daemon, axel_utility_tokend, and the CLI tool
 axel_utility_token-cli to interact with the daemon.

Package: axel_utility_token-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 AXEL_Utility_Token is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 This package provides AXEL_Utility_Token-Qt, a GUI for AXEL_Utility_Token based on Qt.
